.cabecario{
    display: flex;
    background-color:  rgb(28, 28, 37);
    justify-content: space-evenly;
    border-radius: 10px;
    padding: 10px;
}
h3{
    color:white;
}
body{
    background-color:  rgb(42, 38, 46);;
}
.pagina{
    text-decoration: underline 2px;
}
a{
    text-decoration: none;
}
p{
    color: white;
}
h1{
    color: white;
}
.projetos{
    background-color: rgb(36, 32, 39);
    border-radius: 10px;
    text-align: center;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 25px;
    padding: 10px;
}
img{
    width: 300px;
    height: 300px;   
}