.cabecario{
    display: flex;
    background-color:  rgb(28, 28, 37);
    justify-content: space-evenly;
}
h3{
    color:white;
}
body{
    background-color:  rgb(42, 38, 46);;
}
.pagina{
    text-decoration: underline 2px;
}
a{
    text-decoration: none;
}