
.port1{
    display: flex;
    margin-top: 10px;
    margin-left: 80px;
    
}
.port2{
    display: flex;
    margin-right:80px;

}
.cabecario{
    background-color: rgb(28, 28, 37);
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 10px;
    
}
body{
    background-color: rgb(42, 38, 46);
}
h1{
    color: white;
}
h2{
    color: white;
}
h3{
    text-align: center;
    color: white;
}
h4{
    color: white;
}
img{
    padding-inline-end: 300px;
    padding-left: 300px;
}
.subdiv{
    background-color:rgb(36, 32, 39);
    border-radius: 10px;
    padding: 10px;
}
.subdiv2{
    background-color:rgb(36, 32, 39);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}
.pagina{
    text-decoration: underline 2px;
}
a{
    text-decoration: none;
}
